#container {
	text-align: center;
}

#text {
	font-style: ;
	display: inline-block;
	vertical-align: middle;
	color: rgb(255, 209, 2);
	letter-spacing: 1px;
}

#cursor {
	display: inline-block;
	vertical-align: middle;
	width: 3px;
	height: 25px;
	background-color: rgb(255, 209, 2);
	animation: blink .75s step-end infinite;
}

@keyframes blink {
	from, to { 
		background-color: transparent 
	}
	50% { 
		background-color: rgb(255, 209, 2); 
	}
}